#footer

  .left
    %a.first{:href => '/'}
      Back to start

    %a{:href => '/templates/index.html'}
      Templates

  .central
    %ul
      %li
        - selected = is_secondary ? "": "selected"
        %a{:href => '/' + section + '/index.html', :class => selected}
          1
      -navigation.each_index do |primary_idx|
        -primary_hash  = navigation[primary_idx]
        -primary_token = get_token  primary_hash
        -if url_match?(primary_token)
          -primary_hash[:children].each_with_index do |secondary_hash, secondary_idx|
            %li
              -secondary_token = get_token secondary_hash
              %a{:href => '/' + primary_token + '/' + secondary_token + '/index.html', :class => url_match?(secondary_token) ? "selected" : ""}
                =secondary_idx + 2

  .right

    -navigation.each_index do |primary_idx|
      -primary_hash  = navigation[primary_idx]
      -primary_token = get_token primary_hash
      -if url_match?(primary_token)
        -primary_hash[:children].each_with_index do |secondary_hash, secondary_idx|

          -secondary_token = get_token secondary_hash

          -if url_match?(secondary_token) && !is_first_page_of_app
            -prev_idx = secondary_idx - 1
            -prev_token = get_token primary_hash[:children][prev_idx]

            -if secondary_idx == 0
              %a.backwards{:href => '/' + section + '/index.html'}
                Back
              -break
            -else
              %a.backwards{:href => '/' + section + '/' + prev_token + '/index.html'}
                Back
              -break


          -if !is_secondary && !is_first_page_of_app

            - prev_section_token = get_token navigation[primary_idx - 1]
            -prev_section_last_sub_page_token = get_token navigation[primary_idx - 1][:children].last

            %a.backwards{:href => '/' + prev_section_token + '/' + prev_section_last_sub_page_token + '/index.html'}
              Prev Section
            -break


    %p
      -navigation.each_index do |primary_idx|
        -primary_hash  = navigation[primary_idx]
        -primary_token = get_token primary_hash
        -if url_match?(primary_token)
          -primary_hash[:children].each_with_index do |secondary_hash, secondary_idx|
            -secondary_token = get_token secondary_hash
            -if url_match?(secondary_token) || !is_secondary
              page
              -current_page = is_secondary ? secondary_idx + 2 : 1
              =current_page
              \/
              =primary_hash[:children].size + 1
              -break


    %a{:href => '#'}
      -navigation.each_index do |primary_idx|
        -primary_hash  = navigation[primary_idx]
        -primary_token = get_token primary_hash
        -if url_match?(primary_token)
          -primary_hash[:children].each_with_index do |secondary_hash, secondary_idx|
            -secondary_token = get_token secondary_hash

            -first_token = get_token primary_hash[:children][0]

            -current_idx = secondary_idx + 2
            -section_length = primary_hash[:children].size + 1

            -if current_idx == section_length && is_secondary && !is_last_page_of_app
              - next_section_token = get_token navigation[primary_idx + 1]
              %a.onward{:href => '/' + next_section_token + '/index.html'}
                Next Section
              -break

            -elsif url_match?(secondary_token) && !is_last_page_of_app

              -next_idx = secondary_idx + 1
              -next_token = get_token primary_hash[:children][next_idx]

              %a.onward{:href => '/' + section + '/' + next_token + '/index.html'}
                Next

              -break

            -elsif !is_secondary && !is_last_page_of_app

              %a.onward{:href => '/' + section + '/' + first_token + '/index.html'}
                Next

              -break