#nav
  %ul
    -navigation.each_index do |primary_idx|

      -primary_hash  = navigation[primary_idx]

      -# if there isn't a rewrite defined (to prevent long paths) just convert the title to a path
      -primary_token = primary_hash[:rewrite] || convert_to_url_token(primary_hash[:title])
      -first_token_of_secondary_nav = primary_hash[:children][0][:rewrite] || convert_to_url_token(primary_hash[:children][0][:title])

      %li{:class => num_array[primary_idx]}
        %a{:href => '../../' + primary_token + "/index.html", :class => url_match?(primary_token) ? "selected" : ""}
          =primary_hash[:title]
          