.nav.sub-nav
  %ul
    -navigation.each_index do |primary_idx|
      -primary_hash  = navigation[primary_idx]
      -primary_token = get_token  primary_hash
      -if url_match?(primary_token)
        -primary_hash[:children].each_with_index do |secondary_hash, secondary_idx|
          %li
            -secondary_token = get_token secondary_hash
            %a{:href => '/' + primary_token + '/' + secondary_token + '/index.html', :class => url_match?(secondary_token) ? "selected" : ""}
              =secondary_hash[:title]


