%h1 
  Fish

%p
  The reptiles were from the outset of classification grouped with the amphibians.
  Linnaeus, working from species-poor Sweden, where the common adder and grass snake are
  often found hunting in water, included all reptiles and amphibians in class "III - Amphibia"
  in his Systema Naturae.