%h1 
  Welcome to static-sinatra

%p
  See
  %a{:href => 'http://github.com/cimex/static-sinatra'}
    static-sinatra
  for the docs
  %p
    %a{:href => '/reptiles/respiratory/index.html'}
      Example secondary page
  %p
    %a{:href => '/reptiles/respiratory/turtles-and-tortoises/index.html'}
      Example tertiary page